.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#linkedin_mugshot {
    border-radius: 50%;
}

.jumbotron {
    background-image: url("components/static/background.PNG");
    background-size: cover;
    display: flex;
    justify-content: space-around;
}


.jumbotron-heading {
    color: honeydew;
}

#sub_heading {
    color: honeydew;
    font-family: "Comic Sans MS";
}

#CFA {
    color: honeydew;
}

#topwords {
    text-transform: capitalize;
}

hr.new1 {
    width: 60%;
    padding: 0;
    border: none;
    border-top: thin double aliceblue;;
    text-align: center;
}

#filterField{
    text-align: center;
    align-content: center;
    width: 70%;

}
#filterDiv{
    display: block;
}

#leftLinks{
    font-size: medium;
    color: midnightblue;
    font-weight: bolder;
}

div.card {
    margin: 20px;
    border: #ddd solid 1px;
    background: #f4f4f4;
    font-size: 14px;
    padding: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
}

div.card:hover {
    margin: 12px;
    background: lightskyblue;
    box-shadow: 10px 10px grey;
}
